/* .event-list-container {
  padding: 40px;
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
}
 */

.event-card {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  font-family: Arial, sans-serif;
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  margin-top: 5%;
  cursor: pointer;
  transition: transform 0.6s ease, box-shadow 0.6s ease;


}
.event-card:hover {
  transform: scale(1.10);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.event-card-button {
  background-color: #28a745;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 12px;
  z-index: 1;
}

.event-card-button:hover {
  background-color: #218838;
}
.event-card:active {
  transform: scale(0.98);
}
.event-card::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
}

.event-card:hover::after {
  background-color: rgba(0, 0, 0, 0.1);
}
/* 
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.8s ease;
}

.event-card:hover .overlay {
  background-color: rgba(0, 0, 0, 0.1);
} */
.hover-text {
  position: absolute;
  bottom: 12px;
  left: 12px;
  color: rgb(10, 143, 176);
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.6s ease;
}

.event-card:hover .hover-text {
  opacity: 5;
}
