
.event-container {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  font-family: Arial, sans-serif;
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 12px;


}

.event-title {
  font-size: 28px;
  font-weight: bold;
  color: #460000;
  margin-bottom: 10px;
}

.event-info {
  color: #666;
  margin-bottom: 20px;
}

.event-description {
  line-height: 1.6;
  margin-bottom: 30px;
}

.seat-select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 20px;
  width: 100%;
}

.add-button {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.add-button:hover {
  background-color: #218838;
}