
.login-page {
  width: 100%;
  display: flex;
  justify-content: center;
  /* background: url("https://i.pinimg.com/736x/2c/36/17/2c36171e9f6bca35a154bc54bf9607bd.jpg") no-repeat center center/cover; */
  /* background-size: 700px 800px; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.login-container {
  position: relative;
  width: 380px;
  height: 480px;
  background: url("https://i.pinimg.com/736x/2c/36/17/2c36171e9f6bca35a154bc54bf9607bd.jpg") center/cover no-repeat;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.6s ease;
}
.login-overlay {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.406);
  backdrop-filter: blur(1px);
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-title {
  font-size: 1.8rem;
  color: #0e3b01;
  margin-bottom: 1.5rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-input {
  padding: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: 0.3s ease;
}

.login-input:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 5px rgba(59, 130, 246, 0.3);
}

.login-button {
  background: #0b400a;
  color: white;
  border: none;
  padding: 0.75rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-button:hover {
  background: #49604b;
}

.login-message {
  margin-top: 1rem;
  color: #374151;
  font-size: 0.95rem;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(15px); }
  to { opacity: 1; transform: translateY(0); }
}
